# Environment variables
.env

# Composer
/vendor/
composer.lock

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Downloads (keep structure but not actual files)
downloads/*.zip
